body {
  margin: 24px;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 1fr, 1fr; */
  grid-template-columns: 30% auto;
  grid-template-rows: 100px auto;
  grid-template-areas: "hd hd"
                       "sidebar main";
  row-gap: 24px;
}


header {
  grid-area: hd;
  align-items: center;
}

.navTop {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.name {
  margin: 0 20px 0 0;
}

aside {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.show-container {
  width: 4em;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
  grid-column: 2;
  justify-content: start;
}

img {
  height: 300px;
  width: 500px;
  object-fit: contain;
 
}

.navTop img {
  height: 30px;
  width: 30px;
  margin: 0 5px 0 20px;
}


/* grave */

/* .subheader-container {
  
} */

/* .asset-container {

  margin-bottom: 32px;
 
} */


/* #edit-button :after {
  content: "Cancel";

} */
